@import '@assets/styles/variables';
@import "@assets/styles/mixins";

.input {

  font-size: $form-font-size;
  line-height: $form-line-height;

  @include form-border($gray);
  border-radius: $form-border-radius;

  color: $black;
  background-color: $white;
  caret-color: $black;

  padding: 1.4rem 5.4rem 1.4rem 1.5rem;
}

.input::placeholder {
  color: $opacity-dark;
}

.input:focus {
  background-color: $opacity-blue;
  @include form-border($dark-blue);
}