$dark: #272727;
$white: #FFF;
$dark-white: #F1F1F1;
$light-blue: #35A2EC;
$opacity-blue: #1390E5;
$opacity-dark: #171719;
$dark-blue: #1390E5;
$gray: #D1D1D1;

$roboto: 'Roboto', sans-serif;

$transition-duration: 0.2s;