@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  line-height: 28px;
  color: $gray;
  border-bottom: 1px solid $dark-white;

  &__container {
    width: $content-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}