@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.header {
  @include flex-center;

  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $gray;
  border-bottom: 0.1rem solid $dark-white;

  &__container {
    width: $content-width-desktop;
    @include flex-center-sb;
  }
}

.nav {
  &__list {
    @include flex-center-sb;
  }

  &__link {
    padding: 2.6rem 2rem;

    &:hover {
      transition: $transition-duration;
      color: $light-blue;
    }
  }

  &__link--logo {
    padding: 0;
  }
}

.logo {
  width: 4.8rem;
  height: 4.8rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logout {
  color: $light-blue;
}

.current {
  color: $light-blue;
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    height: 0.2rem;
    background-color: $light-blue;
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .header__container {
    width: $content-width-tablet;
  }
}

@media (max-width: 767px) {
  .header {
    font-size: 1.4rem;
  }

  .header__container {
    width: $content-width-mobile;
  }

  .nav__link {
    padding: 2.6rem 1.8rem;
  }
}
