@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.header {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  font-size: 18px;
  line-height: 28px;
  color: $gray;
  border-bottom: 1px solid $dark-white;

  &__container {
    width: $content-width;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  }
}