@import "src/styles/mixins";
@import "src/styles/variables";

.search {
  &__wrapper {
    width: $content-width-desktop;
    flex-direction: column;
  }

  &__container {
  }

  &__input {
    width: 53.6rem;
    height: 5.2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__button {
    width: 15rem;
    height: 5.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}