@import "styles/varialbes";
@import "styles/mixins";
@import "styles/fonts";

.main {
  background-color: $dark-white;
  font-family: $roboto;
}

.container {
  max-width: 1040px;
  margin-inline: auto;
  padding: 40px 0;
}