@import "functions";

$dark: hsl(0, 0%, 15%);
$white: hsl(0, 0%, 100%);
$dark-white: hsl(0, 0%, 95%);
$light-blue: hsl(204, 83%, 56%);
$opacity-blue: hsl(203, 85%, 48%);
$opacity-dark: hsl(240, 5%, 9%);
$dark-blue: hsl(203, 85%, 48%);
$gray: hsl(0, 0%, 82%);
$black: hsl(0, 0%, 15%);

$roboto: 'Roboto', sans-serif;

$transition-duration: 0.2s;

$max-width: 144rem;
$content-width: 104rem;
