$dark: hsl(0, 0%, 15%);
$white: hsl(0, 0%, 100%);
$dark-white: hsl(0, 0%, 95%);
$light-blue: hsl(204, 83%, 56%);
$opacity-blue: hsla(204, 83%, 56%, 0.3);
$opacity-dark: hsla(240, 4%, 9%, 0.2);
$dark-blue: hsla(204, 84%, 49%, 1);
$gray: hsl(0, 0%, 82%);
$black: hsl(0, 0%, 15%);
$red: hsla(0, 100%, 51%, 1);

$roboto: 'Roboto', sans-serif;

$form-font-size: 2rem;
$form-line-height: 2.4rem;
$form-border-radius: 1rem;

$item-font-size: 1.4rem;
$item-line-height: 1.6rem;

$transition-duration: 0.2s;

$content-width-desktop: 104rem;
$content-width-tablet: 68.8rem;
$content-width-mobile: 30.4rem;

$media-tablet: 1024px;
$media-mobile: 767px;

