@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';
@import '../../assets/styles/functions';

.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    padding: 2rem 2.6rem;

    &:hover {
      transition: $transition-duration;
      color: $light-blue;
    }
  }
}

.logo {
  width: 4.8rem;
  height: 4.8rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logout {
  color: $light-blue;
}

.current {
  color: $light-blue;
  position: relative;
  display: inline-block;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 2.6rem;
  right: 2.6rem;
  height: 0.2rem;
  background-color: $light-blue;
}