@import "@assets/styles/variables";
@import "@assets/styles/mixins";

.item__grid {
  width: 24.5rem;

  @media (max-width: $media-tablet) {
    width: 21.6rem;
  }

  @media (max-width: $media-mobile) {
    width: 30.3rem;
  }
}

.item__list {
  width: 68.7rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 3.2rem;

  @media (max-width: $media-mobile) {
    width: 30.4rem;
    margin-bottom: 2.4rem;
  }
}

.thumb__grid {
  width: 100%;
  height: 13.8rem;
  @extend %loading-animation;
}

.thumb__list {
  width: 15.7rem;
  height: 8.8rem;
  @extend %loading-animation;

  @media (max-width: $media-mobile) {
    width: 12rem;
    height: 7.2rem;
  }
}

.desc__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title__grid, .title__list {
  max-height: 4rem;
  color: $black;
  font-size: $item-font-size;
  font-weight: 500;
  line-height: $item-line-height;
  text-align: left;
  padding-top: 0.8rem;

  @extend %loading-animation;

  @include truncate(2);
}

.title__list {
  width: 51rem;
  height: 4rem;
  line-height: 2rem;
  padding-top: 0;

  @extend %loading-animation;

  @media (max-width: $media-mobile) {
    max-width: 16.9rem;
  }
}

.channel__grid, .channel__list, .views__grid, .views__list {
  color: $gray;
  font-size: $item-font-size;
  font-weight: 400;
  line-height: $item-line-height;
  text-align: left;
  padding-top: 1.5rem;

  @extend %loading-animation;

  @include truncate(1);
}

.channel__list, .views__grid, .views__list {
  line-height: 2rem;
  padding-top: 0;
  height: 1.5rem;

  @extend %loading-animation;

  @media (max-width: $media-mobile) {
    width: 16.9rem;
    height: 1.6rem;
    font-size: 1.2rem;
  }
}

%loading-animation {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
